#experimentContainer{
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

}
#experimentContainer div {
    -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* OLD - Firefox 19- */
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;              /* IE 10 */
    flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
/*    text-align: center;*/

/*    border: 1px solid black;*/
}

#experimentCenter {
    -webkit-box-ordinal-group: 2;   /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-ordinal-group: 2;      /* OLD - Firefox 19- */
    -ms-flex-order: 2;              /* TWEENER - IE 10 */
    -webkit-order: 2;               /* NEW - Chrome */
    order: 2;                       /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
#experimentRight {
    -webkit-box-ordinal-group: 3;   /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-ordinal-group: 3;      /* OLD - Firefox 19- */
    -ms-flex-order: 3;              /* TWEENER - IE 10 */
    -webkit-order: 3;               /* NEW - Chrome */
    order: 3;                       /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.greyBackground {
	background-color:#F2F1F1;
}
.arrow{
	width:100%;
	position:relative;
}
.arrowSummary{
	border-right-style:none !important;
	border-top-right-radius:2px !important;
	z-index:2 !important;
	margin-right:5px;
}
.holeSummary{
	border-left-style:none !important;
	border-top-left-radius:2px !important;
	z-index:2 !important;
	margin-right:5px;
}
.borderField {
	border-style:solid;
	border-width:1px;
	border-radius:4px;
	border-color:#585858;
}
.borderTag {
	padding: 4px;
	/* text-align: center; */
	text-indent: -30px;
	padding-left: 30px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	max-width: 110px;
	display: inline-block;
	margin: 2px;
	font-size: 11px;
}
sd-tag, span.sdTag{
	position: relative;
	white-space: nowrap;
	border-radius: 4px;
}


sd-tag.intervention{
	color: #cb5b3c;
	text-decoration: underline
}

sd-tag.active.intervention{
	background-color: #FB1400;
	color: #FFF;
}

sd-tag.assayed{
	color: #6292d0;
	text-decoration: underline
}

sd-tag.active.assayed{
	background-color: #007BE3;
	color: #FFF;
}

sd-tag.normalizing{
	color: orange;
	text-decoration: underline;
}

sd-tag.active.normalizing{
	background-color: #FB8008;
	color: #FFF;
}

sd-tag.experiment{
	color: orange;
	text-decoration: underline;
}

sd-tag.active.experiment{
	background-color: #FB8008;
	color: #FFF;
}

sd-tag.component{
	color: orange;
	text-decoration: underline;
}

sd-tag.active.component{
	background-color: #FB8008;
	color: #FFF;
}

sd-tag.reporter{
	color: orange;
	text-decoration: underline;
}

sd-tag.active.reporter{
	background-color: #FB8008;
	color: #FFF;
}

.bg_component_selected, .bg_experiment_selected, .bg_normalizing_selected, .bg_assayed_selected, .bg_intervention_selected{
	color: #C00;
}


.undefinedRole {
	background-color:#CCC;
}