	<div id="smartFigureLightBox" ng-if="vm.panel">
		<a id="LightBoxWindowClose" class="pointer" ng-click="vm.close()"> <i class="fas fa-window-close"></i> </a>

		<header>
			<!-- Title here -->
			<h2 class="LightBoxFigureTitle">{{vm.panel.paper.title}} </h2>
		</header>
		<!-- Figure Title here -->
		<h3 class="LightBoxPanelTitle">{{vm.panel.figure.label}} : Source Data 
		</h3>
		<div class="LightBoxFigure">
			<div>

				<ul class="list-unstyled" ng-repeat="resource in vm.resources" style="margin-top:10px">
					<span ng-if="!resource.main_link"><b>{{resource.name}} :</b></span>
					<span ng-if="resource.main_link">
						<img ng-src="{{baseURL}}images/{{resource.img}}" style="margin-left:3px" width="100" alt="Logo ">
						<a style="margin:0 5px" target='_blank' ng-href="{{resource.main_link}}"><span class="glyphicon glyphicon-new-window"></span></a>
					</span>
					<li ng-repeat="url in resource.urls">
						<a target="_blank" ng-href="{{url.name}}">{{url.name}}</a>
					</li>
					<li ng-repeat="file in resource.files">
							{{file.document}}
							<a v-if="resource.main_link" style="margin:0 5px" target='_blank' href="https://www.ebi.ac.uk/biostudies/files/{{resource.id}}/sourcedata/{{resource.id}}/{{file.document}}"><span class="fa fa-download"></span></a>
							
					</li>
				</ul>
			</div>
		</div>  
		<footer>
			<p class="footerCredits">
				<img src="{{baseURL}}images/sourcedata_logo.png" alt="the SourceData logo" class="SourceDataFooterLogo">
			</p>
		</footer>           
	</div>
